

textarea{
    height: 28px;
    border: none;
    resize: none;
}

textarea:focus{
    border: none;
    outline: none;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

#Title{
    height: 40px;
}

#addBtn{
    border: none;
    position: absolute;
    padding: 0;
    top: 80%;
    left: 92%;
    color: #0d6efd;
}

#addBtn:active{
    border: none;
    color:oklch(from #0d6efd calc(l - 0.25) c h)
}
#addBtn i{
    color: inherit;
}